.percentInput{
  width: 28px;
  height: 20px;
  font-size: 14px !important;
  color: black !important;
  border: none !important;
  padding: 0!important;
  border-radius: 0!important;
  font-family: "SFUIDisplay-Heavy",sans-serif !important;
  font-weight: 900 !important;
  color: #FB837A !important;
}