$sfuidisplay-regular: 'SFUIDisplay-Regular', sans-serif;
$sfuidisplay-semibold: 'SFUIDisplay-Semibold', sans-serif; // SF UI Display font-family
$sfuidisplay-bold: 'SFUIDisplay-Bold', sans-serif; // SF UI Display font-family
$sfuidisplay-heavy: 'SFUIDisplay-Heavy', sans-serif; // SF UI Display font-family
$rubik: 'Rubik', sans-serif;
$primary-font-size: 12px;


$primary-color: #3C545C; // Primary color
$coral-color: #FB837A; // Coral color
$green-color: #6DCC5C; // Green